.noti_div{
    position: absolute;
    top: 5px;
    width: 98%;
    background-color: rgb(238, 225, 225);
    z-index: 3;
}
.noti_div2{
    position: relative;
}
.error{
    width: 100%;
    text-align: left;
}
h3{
    padding-left: 150px;
}
.pending{
    background-color: rgb(244, 155, 159);
    border: 2px solid black;
    border-radius: 5px;
}
.succesfully{
    background-color: rgb(160, 233, 160);
    border: 2px solid black;
    border-radius: 5px;
}

.noti_btn{
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 25px;
}
.noti_btn>span{
    font-size: 35px;
}