
.maincontainer {
    width: 100%;
    height: 625px;
    background-color: white;
    position: relative;
}

.menu_div {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 150px;
    height: 615px;
    border: 2px solid navy;
    border-radius: 5px;
    background-color: white;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 25px;
}

.menu_div>div {
    width: 100%;
    text-align: center;
    color: navy;
}

.menu_div>div>ul {
    list-style: none;
    text-align: left;
    margin-left: -20px;
}

.menu_div>div>ul>li {
    position: relative;
    left: -13px;
    width: 120px;
    font-size: 23px;
    margin-top: 30px;
    text-align: left;
    border: 1px solid navy;
    border-radius: 25px;
    background-color: transparent;
    padding: 5px 7px;
}

.menu_div>div>ul>li:hover {
    background-color: navy;
    color: white;

}

.icon {
    font-size: 30px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.heading_div {
    position: absolute;
    top: 3px;
    right: 0px;
    width: calc(100% - 158px);
    height: 40px;
    background-color: navy;
    text-align: center;
    color: white;
    overflow: hidden;
}

.heading_div>h2 {
    margin-top: 6px;
}

.data_container {
    position: absolute;
    top: 45px;
    right: 0px;
    width: calc(100% - 163px);
    height: 575px;
    background-color: white;
    border: 2px solid navy;
    border-radius: 5px;
    overflow: scroll;
}

.data {
    width: 100%;
    height: 557px;
    margin-top: -21px;
    display: none;
    text-align: center;
}

.data>h1 {
    color: navy;
}

.data>div {
    width: 98%;
    margin: 1%;
    height: 500px;
    overflow: scroll;
}

.home {
    display: block;
}

.closebtn {
    text-align: right;
}

.closebtn>span {
    font-size: 40px;
}

.close_div {
    display: none;
}

.add_modal {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: transparent;
    height: 500px;
    display: none;
}

.add_form {
    margin-top: 40px;
    width: 100%;
    height: 400px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.add_form_modal {
    width: 350px;
    height: 500px;
    background-color: rgb(0, 0, 41);
    border: 2px solid navy;
    border-radius: 25px;
}


.add_emp,
.Req_del,
.Emp_up,
.Emp_del {
    margin: 5px;
    background-color: white;
    color: navy;
    border: 1px solid navy;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 25px;
}

.add_emp:hover,
.Req_del:hover,
.Emp_up:hover,
.Emp_del:hover {
    background-color: navy;
    color: white;
}

.del_btn {
    margin: 5px;
    background-color: white;
    color: navy;
    border: 1px solid navy;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 25px;
}

.del_btn:hover {
    background-color: navy;
    color: white;
}

.add_Emp_modal {
    width: 100%;
    text-align: left;
    background-color: transparent;
}

.add_Emp_modal>form {
    margin-top: -40px;
}

.imd_div {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.input_div {
    padding-left: 30px;
    text-align: left;
}

.input_div>div {
    margin-top: 10px;
}

.input_div>div>label {
    font-size: 22px;
    color: white;
}

.input_div>hr {
    text-align: left;
    width: 50%;
}

.add_close_btn {
    color: white;
    padding: 5px;
    font-size: 35px;
    transition: font-size 0.5s;
}

.add_close_btn:hover {
    font-size: 30px;
}

.input_div>div>input {
    width: 150px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 41);
    font-size: 22px;
}

.input_div>.add_btn {
    width: 100%;
    text-align: right;
    color: white;

}

.input_div>.add_btn>button {
    margin: 5px;
    background-color: white;
    color: navy;
    border: 1px solid navy;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 25px;
    margin-right: 50px;
    cursor: pointer;
    transition: font-size 0.5s;
}

.input_div>.add_btn>button:hover {
    background-color: rgb(0, 0, 41);
    border: 2px solid white;
    color: white;
    font-size: 15px;

}

.add_Emp_modal>form>h1 {
    text-align: center;
    color: white;
    font-size: 25px;
}

.logo_text {
    text-align: center;
    /* margin-left: -100px; */
}

#close_btn {
    cursor: pointer;
}

.del_modal {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    display: none;
    text-align: center;
}

.del_form {
    position: relative;
    width: 100%;
    height: 600px;
}

.del_form_modal {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del_req_modal {
    width: 440px;
    height: 230px;
    background-color: navy;
    border: 2px solid navy;
    border-radius: 25px;
    padding: 25px;
    text-align: left;
}

#del_modal_close_btn {
    width: 100%;
    font-size: 35px;
    text-align: right;
    transition: font-size 0.4s;

}

#del_modal_close_btn:hover {
    font-size: 30px;
}

.close_del_icon {
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.del_req_form>p {
    font-size: 25px;
    color: white;
}

.del_btn_div {
    width: 100%;
    text-align: right;
}

.Del_req_btn:hover {
    border: 2px solid white;
}

.del_name {
    margin-top: 0px;
    color: white;
    text-align: left;



}

.addstd_div {
    padding-bottom: 15px;
}

.addstd_div>button {
    padding: 5px 7px;
    border-radius: 25px;
    border: 1px solid navy;
    background-color: navy;
    color: white;
    cursor: pointer;


}

.addstd_div>:nth-child(2) {
    margin-right: 15px;
}

.addstdform>input {
    margin: 15PX;
}

.basic_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.basic_details>div {
    width: 250px;
    margin: 10px;
    text-align: center;
    font-size: 19px;
    color: navy;
}

.subjects>div {
    padding: 30px 2px;
    margin-bottom: 30px;
    border-radius: 25px;
}

.subjects>div:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.close_up_std {
    width: 100%;
    text-align: right;
    margin-right: 30px;
    padding-right: 40px;
}

#std_close_btn {
    cursor: pointer;
}



.addstd_div>button:hover {
    background-color: white;
    border: 2px solid navy;
    color: navy;
    font-size: 15pxs;
}

.developer {
    background-color: rgb(9, 9, 61);
    color: white;
    text-align: center;
    border-radius: 25px;
}

.key {
    cursor: pointer;
}
